myProyect/build/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><title>html with gulp</title><link rel="stylesheet" type="text/css" href="css/golabal.css"><link rel="stylesheet" type="text/css" href="css/style.css"></head><body><nav><li><a href="#home">Home</a></li><li><a href="#about">About</a></li><li><a href="#contact">Contact</a></li><li><a href="#media">Media</a></li></nav><div class="box blue"><h1>Costa Rica Pura Vida</h1></div><div class="box white"><h1>Argentina che</h1></div><div class="box red"><h1>Brasil :)</h1></div><div class="box green"><h1>Holanda</h1></div><div class="brown"><h1>Honduras Alba <3</h1></div><div class="cyan"><h1>Portugal </h1></div></body><script src="assets/js/main.js"></script></html>

myProyect/app/pages/index.pug
doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title html with gulp
		link(rel="stylesheet" type="text/css" href="css/golabal.css")
		link(rel="stylesheet" type="text/css" href="css/style.css")
	body
		include ../components/nav/nav.pug
		div.box.blue
			h1 Costa Rica Pura Vida
		div.box.white
			h1 Argentina che
		div.box.red
			h1 Brasil :)
		div.box.green
			h1 Holanda
		div.brown
			h1 Honduras Alba <3
		div.cyan
			h1 Portugal 
	script(src="assets/js/main.js")
